* {
  margin: 0;
  padding: 0;
}

/* PROJECTS PAGE */

.cardProjectsPage {
  max-width: 350px;
  height: 100%;
  margin: 0 20px;
  padding: 20px 0;
  box-shadow: 5px 5px 0 var(--border);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cardProjectsPageImage {
  height: 20%;
  width: 80%;
  border: 1px solid var(--border);
}

.cardProjectsPage h2 {
  font-size: 1rem;
  font-weight: 800;
}

.cardProjectsPage p {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0 30px;
  text-indent: 5px;
} 

.cardProjectsPageLinks {
  display: flex;
  gap: 40px;
  border-top: 1px  solid var(--border);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px 0;
}


/* EXPERIENCE PAGE */

.cardExperiencePage {
  max-width: 330px;
  height: 350px;
  margin: 0 20px;
  font-size: 0.9rem;
  box-shadow: 5px 5px 0 var(--border);
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.cardExperienceImage {
  width: 100px;
}


.cardExperiencePage img, h2, p {
  margin: 0 20px;
}



