.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 250px;
  max-width: 500px;
  margin: auto;
  background-color: var(--color2);
  color: var(--color3);
  border-top: 1px solid var(--border);
}

.contentFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.iconsFooter {
  display: flex;
  gap: 40px;
}

.iconsFooter a:hover {
  transform: scale(1.2);
}

@media (max-width: 680px) {
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
}