#talktome {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--color2);
  color: var(--color4);
}

.email button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  width: 350px;
  cursor: pointer;
}



.whats-btn button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.copy-success {
  color: green;
}



