.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.425);
  height: 100vh;
  width: 100vw;
}

.about p {
  color: #aaa;
  margin-bottom: 2em;
}

.about a {
  display: block;
  margin-top: 15px;
  padding: 10px 15px;
}