.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color2);
}

.typewriter {
  text-align: center;
  color: var(--color4);
}

.typewriter h1 {
  font-size: 40px;
}

.typewriter h3 {
  padding-bottom: 30px;
}

.image-container {
  padding-top: 130px;
  position: relative;
  width: 250px; 
  animation: moveUpDown 1s infinite alternate; 
}

.animated-image {
  width: 250px;
  height: 150px;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

@media (min-width: 1024px) {
  .home-container {
    display: flex;
    padding-top: 0;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
  }

  .typewriter {
    text-align: left;
  }

  .typewriter h1{
    font-size: 60px;
    margin: 10px 0 10px 0;
  }
  
  .typewriter h3{
    font-size: 30px;
    margin: 10px 0 10px 0;
  }

  .image-container{
    padding-top: 0px;
    position: relative;
    width: 400px;
    height: 200px; 
    animation: moveUpDown 1s infinite alternate; 
  }

  .animated-image {
    width: 400px;
    height: 200px;
  }

}