.toggle_icon,
.social_icons {
  cursor: pointer;
  color: var(--color3);
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 16px;
  background-color: var(--color2);
  z-index: 1000;
}

.header ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
  text-align: center;
  color: var(--color3);
  transition: .4s;
}


.brand span {
  font-size: 1.2em;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color3);
}

.brand:hover {
  transform: scale(1.2);
  transition: .2s;
}

.menu_desktop {
  display: none;
}

.icons_desktop {
  display: none;
}

.icons_desktop a:hover {
  transform: scale(1.2);
  transition: .2s;
}

.icons_mobile {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 14px;
}

.menu {
  background-color: var(--color2);
  position: absolute;
  height: 270%;
  width: 100%;
  z-index: 1000;
  top: 80px;
  right: 0;
  border-radius: 0 0 15px 15px;
}

.menu li {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid rgba(0,0,0, 0.089);
}


@media (min-width: 1024px) {
  .toggle_icon {
    display: none;
  }

  .menu {
    display: none;
  }
  
  .menu_desktop {
    display: flex;
    margin-right: 1em;
  }

  .menu_desktop li {
    padding: .4em .6em;
    margin: 0 10px 0 10px;
  }

  .header li{
    font-weight: 500;
    line-height: 1.5;
    color: var(--color3);
    box-shadow: inset 0 0 0 0 var(--color3);
    transition: color .3s ease-in-out, 
    box-shadow .3s ease-in-out;
  }
  
  .header li:hover {
    color: var(--color1);
    box-shadow: inset 200px 0 0 0 var(--color3);;
  }

  .icons_desktop {
    display: flex;
    gap: 20px;
  }
}

