.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 250px;
  background-color: var(--color1);
  color: var(--color4);
  border-top: 1px solid var(--color4);
}

.iconsFooter {
  display: flex;
  gap: 40px;
}