.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color2);
  background-image: url("./background5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.typewriter {
  text-align: center;
  color: #F6FCFF;
}

.typewriter h1 {
  font-size: 40px;
}

.typewriter h3 {
  padding-bottom: 30px;
}

.btn {
  margin-top: 5rem;
}

.btn span {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color3);
  background-color: var(--color1);
  box-shadow: inset 0 0 0 0 var(--color3);
  padding: 1rem;
  transition: color .3s ease-in-out, 
  box-shadow .3s ease-in-out;
}

.btn span:hover {
  color: var(--color1);
  box-shadow: inset 200px 0 0 0 var(--color3);;
}

@media (min-width: 1024px) {
  .typewriter {
    text-align: left;
  }

  .typewriter h1{
    font-size: 3rem;
    margin: 10px 0 10px 0;
  }
  
  .typewriter h3{
    font-size: 30px;
    margin: 10px 0 10px 0;
  }


}