.main {
  font-size: 62.5%;
  height: 100%;
  background-color: var(--color1);
  color: var(--color3);
}

.main h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  font-size: 2rem;
}

.cards {
  background-color: var(--color2);
  color: var(--color3);
  width: 330px;
  height: 450px;
  border-radius: 8px;
  box-shadow: 0 0 2px var(--shadow), 0 0px 2px var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cards img {
  max-width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 2px var(--shadow), 0 0px 2px var(--shadow);
}

.cards p {
  width: 300px;
  text-align: center;
  font-size: 0.8rem;
  border-bottom: 1px  solid var(--border);
  padding-bottom: 10px;
} 

.cards_links {
  display: flex;
  gap: 80px;
}

.cards_links a {
  text-align: center;
}

.content {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 80px 0 100px 0;
}


@media (min-width: 900px) {
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
